= form_for(@admin_article, html: { class: "form-horizontal", role: "form" }) do |f|
  - if @admin_article.errors.any?
    .alert.alert-danger.alert-dismissable role="alert"
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true"
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@admin_article.errors.count,"error")} prohibited this admin_article from being saved:"
      ul
        - @admin_article.errors.full_messages.each do |msg|
          li= msg
  .form-group
    = f.label :region, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :region, class: "form-control"
  .form-group
    = f.label :user_id, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :user_id, class: "form-control"
  .form-group
    = f.label :content, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :content, class: "form-control"
  .form-group
    = f.label :created_at, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :created_at, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
