.page-header
  = link_to new_admin_article_path, class: 'btn btn-primary' do 
    span.glyphicon.glyphicon-plus
    |  New Article
  h1
    | Listing admin_articles

.table-responsive
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th
          | User
        th
          | Content
        th
          | Created at
        th
        th
        th
    tbody
      - @admin_articles.each do | admin_article |
        tr
          td
            = link_to admin_article.user, admin_user_path(admin_article)
          td
            = admin_article.content
          td
            = admin_article.created_at
          td
            = link_to 'Show', admin_article
          td
            = link_to 'Edit', edit_admin_article_path(admin_article) 
          td
            = link_to 'Destroy', admin_article, method: :delete, data: { confirm: 'Are you sure?' } 
