.page-header
  = link_to admin_articles_path, class: 'btn btn-default' do 
    span.glyphicon.glyphicon-list-alt
    |  Back 
  = link_to edit_admin_article_path(@admin_article), class: 'btn btn-primary' do 
    span.glyphicon.glyphicon-pencil
    |  Edit 
  h1
    | Show admin_article
dl.dl-horizontal
  dt
    | User:
  dd
    = @admin_article.user
  dt
    | Content:
  dd
    = @admin_article.content
  dt
    | Created at:
  dd
    = @admin_article.created_at

  dd
    table.table
      - @admin_article.comments.each do |comment|
        tr
          td = comment.id
          td = comment.user
          td = comment.content
          td = comment.created_at

