= form_for(@admin_report, html: { class: "form-horizontal", role: "form" }) do |f|
  - if @admin_report.errors.any?
    .alert.alert-danger.alert-dismissable role="alert"
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true"
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@admin_report.errors.count,"error")} prohibited this admin_report from being saved:"
      ul
        - @admin_report.errors.full_messages.each do |msg|
          li= msg
  .form-group
    = f.label :category, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :category, class: "form-control"
  .form-group
    = f.label :category_other, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :category_other, class: "form-control"
  .form-group
    = f.label :region, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :region, class: "form-control"
  .form-group
    = f.label :note, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :note, class: "form-control"
  .form-group
    = f.label :location, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :location, class: "form-control"
  .form-group
    = f.label :violate_at, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :violate_at, class: "form-control"
  .form-group
    = f.label :status, class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :status, Report.statuses.map{|a| [a.first, a.first]},{}, class: 'form-control'

  .form-group
    = f.label :pic1, class: "col-sm-2 control-label"
    .col-sm-10
      = f.file_field :pic1
      - if @admin_report.pic1?
        = image_tag "https://repics.storage.googleapis.com/#{@admin_report.pic1.path}"

  .form-group
    = f.label :pic2, class: "col-sm-2 control-label"
    .col-sm-10
      = f.file_field :pic2
      - if @admin_report.pic2?
        = image_tag "https://repics.storage.googleapis.com/#{@admin_report.pic2.path}"

  .form-group
    = f.label :pic3, class: "col-sm-2 control-label"
    .col-sm-10
      = f.file_field :pic3
      - if @admin_report.pic3?
        = image_tag "https://repics.storage.googleapis.com/#{@admin_report.pic3.path}"



  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
