.page-header
  = link_to new_admin_report_path, class: 'btn btn-primary' do 
    span.glyphicon.glyphicon-plus
    |  New Report
  h1
    | Listing admin_reports

.table-responsive
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th
          | User
        th
          | Note
        th
          | Location
        th
          | Violate at
        th
          | Status
        th
        th
        th
    tbody
      - @admin_reports.each do | admin_report |
        tr
          td
            = link_to admin_report.user, admin_user_path(admin_report.user)
          td
            = admin_report.note
          td
            = admin_report.location
          td
            = admin_report.violate_at
          td
            = admin_report.status
          td
            = link_to 'Show', admin_report
          td
            = link_to 'Edit', edit_admin_report_path(admin_report) 
          td
            = link_to 'Destroy', admin_report, method: :delete, data: { confirm: 'Are you sure?' } 
