.page-header
  = link_to admin_reports_path, class: 'btn btn-default' do 
    span.glyphicon.glyphicon-list-alt
    |  Back 
  = link_to edit_admin_report_path(@admin_report), class: 'btn btn-primary' do 
    span.glyphicon.glyphicon-pencil
    |  Edit 
  h1
    | Show admin_report
dl.dl-horizontal
  dt
    | Note:
  dd
    = @admin_report.note
  dt
    | Location:
  dd
    = @admin_report.location
  dt
    | Violate at:
  dd
    = @admin_report.violate_at
  dt
    | Status:
  dd
    = @admin_report.status
