= form_for(@admin_user, html: { class: "form-horizontal", role: "form" }) do |f|
  - if @admin_user.errors.any?
    .alert.alert-danger.alert-dismissable role="alert"
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true"
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@admin_user.errors.count,"error")} prohibited this admin_user from being saved:"
      ul
        - @admin_user.errors.full_messages.each do |msg|
          li= msg
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :email, class: "form-control"
  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :password, class: "form-control"
  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :address, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :address, class: "form-control"
  .form-group
    = f.label :phone, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :phone, class: "form-control"
  .form-group
    = f.label :identity, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :identity, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
