.page-header
  = link_to new_admin_user_path, class: 'btn btn-primary' do 
    span.glyphicon.glyphicon-plus
    |  New User
  h1
    | Listing admin_users

.table-responsive
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th
          | Email
        th
          | Password
        th
          | Name
        th
          | Address
        th
          | Phone
        th
          | Identity
        th
        th
        th
    tbody
      - @admin_users.each do | admin_user |
        tr
          td
            = admin_user.email
          td
            = admin_user.password
          td
            = admin_user.name
          td
            = admin_user.address
          td
            = admin_user.phone
          td
            = admin_user.identity
          td
            = link_to 'Show', admin_user
          td
            = link_to 'Edit', edit_admin_user_path(admin_user) 
          td
            = link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' } 
